[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wmi = "*"
psutil = "*"
py-cpuinfo = "*"
matplotlib = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.13"
